[run]
omit =
    */migrations/*
    */tests.py
    acoes/legacy_acoes_suite.py
    acoes/status_utils.py
    acoes/tasks.py
    acoes/views_aggregated.py
    acoes/views_importacao_controles.py
    acoes/views_solucoes.py

[report]
omit =
    */migrations/*
    */tests.py
    acoes/legacy_acoes_suite.py
    acoes/status_utils.py
    acoes/tasks.py
    acoes/views_aggregated.py
    acoes/views_importacao_controles.py
    acoes/views_solucoes.py